##########################################################
# This file is managed by Ansible for Lights Out Patching
##########################################################
{% for pkg in lock_packages %}
Package: {{ pkg.name }}
Pin: version {{ pkg.version }}
Pin-Priority: {{ pkg.priority }}

{% endfor %}
