##########################################################
# This file is managed by Ansible for Lights Out Patching
##########################################################
{% for pkg in lock_packages %}
{{ pkg.epoch }}:{{ pkg.name }}-{{ pkg.version }}.*
{% endfor %}
